apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  DATABASE_USER: cG9zdGdyZXM=
  DATABASE_PASSWORD: cG9zdGdyZXM=
  DATABASE_URL: amRiYzpwb3N0Z3Jlc3FsOi8vZm9vZC1tYW5hZ2VkLWJ5LXRlcnJhZm9ybS5jem45OG5venZ6YTMudXMtZWFzdC0xLnJkcy5hbWF6b25hd3MuY29tOjU0MzIvZm9vZA==
  REDIS_HOST: cmVkaXMtZGI=